@media only screen and (min-width: 576px) and (max-width: 1024px) {
  .section {
    padding-top: 6rem;
  }

  .services__container,
  .portfolio__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 681px) {
  .portfolio__item {
    margin: 0 var(--mb-1);
  }
}
